# Server
PORT=8080

# PostgreSQL / Prisma
DATABASE_URL="postgresql://usuario:password@host:5432/hagemsa_activos?schema=public"

# CORS
# En local puedes usar:
# CORS_ORIGINS=http://localhost:3001,http://127.0.0.1:3001
# En produccion usa la URL real del frontend:
CORS_ORIGINS=https://erp.hagemsa.com
